/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap');

/* Base styles, assuming dark mode as default */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.title-class {
  font-size: 44px;
  font-family: 'Cherry Bomb', cursive;
  color: #FF9689;
  line-height: 1.0;
}

#app {
  width: 100%;
  margin: 0 auto;
}

.small-icon-button {
  background-color: transparent;
  border: none;
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FBF4EB;
  }
  
  a {
    color: #414cff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
    color: #213547;
  }
  
  html, body {
    background-color: #FBF4EB;
  }
}

:root {
  --background: #9c88ff;
  --forumbar-width: 256px;
  --forumbar-width-min: 80px;
  --forumbar-dark-primary: #18283b;
  --forumbar-dark-secondary: #2c3e50;
  --forumbar-light-primary: #f5f6fa;
  --forumbar-light-secondary: #8392a5;
}

html, body {
  margin: 0;
  background: var(--background);
}

#forum-toggle:checked ~ #forum-header {
  width: calc(var(--forumbar-width-min) - 16px);
}
#forum-toggle:checked ~ #forum-content, #forum-toggle:checked ~ #forum-footer {
  width: var(--forumbar-width-min);
}
#forum-toggle:checked ~ #forum-header #forum-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#forum-toggle:checked ~ #forum-header label[for=forum-toggle] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}
#forum-toggle:checked ~ #forum-header #forum-toggle-burger {
  background: var(--forumbar-light-primary);
}
#forum-toggle:checked ~ #forum-header #forum-toggle-burger:before, #forum-toggle:checked ~ #forum-header #forum-toggle-burger::after {
  width: 16px;
  background: var(--forumbar-light-secondary);
  transform: translate(0, 0) rotate(0deg);
}
#forum-toggle:checked ~ #forum-content .forum-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#forum-toggle:checked ~ #forum-content .forum-button .fas {
  min-width: calc(100% - 16px);
}
#forum-toggle:checked ~ #forum-footer #forum-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#forum-toggle:checked ~ #forum-footer #forum-footer-titlebox, #forum-toggle:checked ~ #forum-footer label[for=forum-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#forum-bar {
  position: absolute;
  margin-top: 75px;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 6vw);
  background: var(--forumbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--forumbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}
#forum-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--forumbar-dark-secondary);
}
#forum-bar a {
  color: inherit;
  text-decoration: inherit;
}
#forum-bar input[type=checkbox] {
  display: none;
}

#forum-header {
  position: relative;
  width: var(--forumbar-width);
  left: 16px;
  width: calc(var(--forumbar-width) - 16px);
  min-height: 80px;
  background: var(--forumbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#forum-header hr {
  position: absolute;
  bottom: 0;
}

#forum-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=forum-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#forum-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--forumbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}
#forum-toggle-burger:before, #forum-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--forumbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}
#forum-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#forum-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--forumbar-width);
  background: var(--forumbar-dark-primary);
  box-shadow: 0 0 0 16px var(--forumbar-dark-primary);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}
#forum-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#forum-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

#forum-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}
#forum-content-highlight:before, #forum-content-highlight:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}
#forum-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

.forum-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--forumbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.forum-button span {
  transition: opacity 1s;
}
.forum-button .fas {
  transition: min-width 0.2s;
}
.forum-button:nth-of-type(1):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(1):hover ~ #forum-content-highlight {
  top: 16px;
}
.forum-button:nth-of-type(2):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(2):hover ~ #forum-content-highlight {
  top: 70px;
}
.forum-button:nth-of-type(3):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(3):hover ~ #forum-content-highlight {
  top: 124px;
}
.forum-button:nth-of-type(4):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(4):hover ~ #forum-content-highlight {
  top: 178px;
}
.forum-button:nth-of-type(5):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(5):hover ~ #forum-content-highlight {
  top: 232px;
}
.forum-button:nth-of-type(6):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(6):hover ~ #forum-content-highlight {
  top: 286px;
}
.forum-button:nth-of-type(7):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(7):hover ~ #forum-content-highlight {
  top: 340px;
}
.forum-button:nth-of-type(8):hover {
  color: var(--forumbar-dark-primary);
}
.forum-button:nth-of-type(8):hover ~ #forum-content-highlight {
  top: 394px;
}

#forum-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#forum-footer {
  position: relative;
  width: var(--forumbar-width);
  height: 54px;
  background: var(--forumbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#forum-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#forum-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}
#forum-footer-avatar img {
  height: 100%;
}

#forum-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#forum-footer-subtitle {
  color: var(--forumbar-light-secondary);
  font-size: 0.6rem;
}

#forum-footer-toggle:checked + #forum-footer {
  height: 30%;
  min-height: 54px;
}
#forum-footer-toggle:checked + #forum-footer label[for=forum-footer-toggle] {
  transform: rotate(180deg);
}

label[for=forum-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#forum-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--forumbar-light-secondary);
  padding: 16px 0;
  color: var(--forumbar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}
#forum-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#forum-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}